/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: beige;
}

.title-accord {
    font-size: xxx-large;
    font-weight: bold;
    font-family: monospace;
}

.accord-container {
    width: 50%;
    margin: 3vh auto;
}

.accordion-item {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.item-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
    font-size: x-large;
    font-weight: bold;
    font-family: monospace;
    color: blue;
    transition: color .5s ease-out;
}

.item-title:hover {
    color: black;
}

.item-input {
    width: 0;
    height: 0;
    appearance: none;
    display: none;
}

.item-input:checked ~ .item-title {
    color: black;
}

.item-body {
    width: 50%;
    height: 0px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
    transition: 0.55s opacity, 0.55s visibility, 0.55s height;
    flex-basis: 100%;
    background-position: center;
}

.item-input:checked + .item-title .item-body {
    opacity: 1;
    visibility: visible;
    height: 300px;
}

.accordion-item:hover  .item-body{
    opacity: 1;
    visibility: visible;
    height: 300px;
}

.accord-container:hover .accordion .accordion-item .item-title {
    color: black;
}

.select {
    background-image: url(assets/img/open.svg);
    width: 1rem;
    height: 1rem;
    background-size: cover;
    opacity: 0;
    visibility: hidden;
    transition: 0.55s opacity, 0.55s visibility;
}

.accord-container:hover .accordion .accordion-item .item-title .select {
    opacity: 1;
    visibility: visible;
}

.item-input:checked ~ label .select {
    background-image: url(assets/img/close.svg);
}

.label-title {
    flex-basis: 90%;
}

.mems1 {
    background-image: url(assets/img/mems1.png);
}

.mems2 {
    background-image: url(assets/img/mems2.png);
}

.mems3 {
    background-image: url(assets/img/mems3.png);
}

.mems4 {
    background-image: url(assets/img/mems4.png);
}

.mems5 {
    background-image: url(assets/img/mems5.png);
}

@media (max-width: 850px) {
    .accordion-item:hover  .item-body{
        height: 200px;
    }

    .item-input:checked + .item-title .item-body {
        height: 200px;
    }

    .item-title {
        font-size: large;
    }

    .title-accord {
        font-size: x-large;
    }

    .select {
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 425px) {
    .accordion-item:hover  .item-body{
        height: 100px;
    }

    .item-input:checked + .item-title .item-body {
        height: 100px;
    }

    .item-body {
        width: 100%;
        background-position: center;
    }

    .select:first-child {
        padding-right: 15px;
    }

    .item-title {
        font-size: medium;
    }

    .title-accord {
        font-size: large;
    }

    .select {
        opacity: 1;
        visibility: visible;
    }

    .label-title {
        flex-basis: 70%;
    }
}